@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&family=Source+Sans+Pro:ital@1&display=swap");

* {
  font-family: "Mukta", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  width: 95vw;
}

.panel {
  color: white;
  height: 50vh;
  width: 100%;
  margin: 5px;
  flex: 0.05;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.panel h3 {
  font-size: 24px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.5s;
}

.panel.active {
  flex: 0.5;
}
.panel.active h3 {
  opacity: 1;
}
@media (max-width: 850px) {
  .container {
    width: 100vw;
  }
  .panel {
    flex: 0.01;
  }
  .panel.active {
    flex: 1.5;
  }
  .panel:nth-child(4) {
    display: none;
  }
}
